name: JSON check

on:
  push:
    paths:
      - '**.json'
  pull_request:
    paths:
      - '**.json'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: json-syntax-check
        uses: limitusus/json-syntax-check@v2
        with:
          # suppress them
          pattern: "(?<!servers/v1/data/common/config/JustEnoughCalculation/record|servers/v1/data/common/config/codechicken/supporters)\\.json$"
